<div class= "container">
  <!-- <header class= "jumbotron">
    <h1>Q and A</h1>
    <p>change to nav-bar?</p>
  </header> -->
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        {{#link-to "about"}}<span class="glyphicon glyphicon-user"></span>{{/link-to}}
        Welcome to epicodus Q and A |
        {{#link-to 'index'}}Home-Page{{/link-to}} |
        {{#link-to 'about'}}About Q & A{{/link-to}}
      </div>
    </div>
  </nav>
</header>


    {{outlet}}
  <hr>
  <!-- <footer>
    {{#link-to 'index'}}view questions!{{/link-to}}<br>
    {{#link-to 'about'}}check us out!{{/link-to}}
  </footer> -->



</div>
