<div class= "container">
  <header class= "jumbotron">
    <h1>change to nav-bar</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'about'}}check us out!{{/link-to}}
  </footer>
</div>
