<h1> Welcome to the Question and Answer Bord </h1>

We hope you find the answer you're looking for.
<hr>
<ul>
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>
<hr>

{{new-question saveQuestion="saveQuestion"}}
