<h1> Welcome to Super Rentals </h1>

We hope you find the answer you're looking for.
<hr>
<ul>
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>
<hr>

{{#link-to 'about'}}About{{/link-to}}
